* {
  box-sizing: border-box; }

html {
  font-size: 12px; }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(12px + 4 * ((100vw - 320px) / 880)); } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 16px; } }

body {
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding-top: 150px;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.5); }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
  line-height: 1; }

h1 {
  font-size: 2rem; }

p {
  margin: 0 0 1rem 0; }

button {
  all: unset; }

a {
  text-decoration: none;
  margin: 0;
  padding: 0; }

strong {
  font-weight: bolder;
  font-style: italic;
  color: rgba(0, 0, 0, 0.9); }

.markdown-body {
  display: block; }

.markdown-body img {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: solid 1px #cecece;
  box-sizing: border-box; }

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.media-object {
  width: 100%;
  display: flex;
  flex-flow: column-reverse nowrap; }

@media (min-width: 768px) {
  .media-object {
    flex-flow: row nowrap; }
  .media-object__item-1 {
    width: 50%;
    margin: auto; }
  .media-object__item-2 {
    width: 50%;
    margin: auto; } }

.hamburer {
  display: initial; }

.hamburger__bun {
  height: 11px;
  margin: 14.5px 0; }

.hamburger__patty {
  width: 16px;
  height: 1px;
  margin: 4px auto;
  background-color: darkgreen;
  outline: 1px solid darkgreen; }

.hamburger-checkbox {
  display: none; }

.hamburger-checkbox:checked + * {
  display: block; }

@media (min-width: 768px) {
  .hamburger-helper {
    display: none; } }

.header-hamburger {
  -webkit-animation: animate-opacity 0.3s;
          animation: animate-opacity 0.3s;
  position: absolute;
  top: -15px;
  left: 10px; }

.header {
  padding-top: 20px;
  background-color: #fff;
  width: 100%;
  position: relative;
  overflow: hidden; }

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 128, 0, 0.06);
  box-shadow: 0 1px rgba(0, 128, 0, 0.02); }

.header__promo {
  display: inline-block;
  width: 100%;
  text-align: center; }

.header__promo-text {
  font-family: "Lora", serif;
  font-size: 2rem;
  line-height: 2rem;
  display: inline-block;
  color: darkgreen; }

.header__nav {
  display: none;
  -webkit-animation: animate-opacity 0.3s;
          animation: animate-opacity 0.3s;
  width: 100%; }

.header__nav-items {
  font-weight: 600;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0; }

.header__nav-item {
  display: block;
  width: 100%;
  color: green;
  position: relative; }

.header__nav-item--active::after {
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  border-radius: 5px;
  width: 2px;
  height: 100%;
  margin: auto 0;
  background-color: darkgreen;
  top: 0;
  right: 0; }

.header__nav-item:hover {
  border-radius: 5px;
  background-color: rgba(0, 128, 0, 0.375);
  color: white;
  font-weight: bold; }

.header__nav-item-link {
  text-transform: initial;
  text-align: center;
  color: inherit;
  display: inline-block;
  padding: 10px 0 10px 5px;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  font-weight: bold; }

@-webkit-keyframes animate-opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes animate-opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (min-width: 768px) {
  .header__promo {
    display: inline-block;
    width: initial;
    text-align: initial; }
  .header__nav {
    display: block;
    overflow: hidden;
    width: initial;
    position: relative;
    float: right;
    top: -1px;
    -webkit-animation: animate-opacity 0.3s;
            animation: animate-opacity 0.3s; }
  .header__nav-items {
    display: block;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 100%; }
  .header__nav-item {
    display: inline-block;
    width: initial; }
  .header__nav-item--active::after {
    width: 100%;
    height: 2px;
    top: initial;
    bottom: 0; }
  .header__nav-item-link {
    padding: 10px 30px; } }

.footer {
  display: block;
  width: 100%;
  height: 300px;
  margin-top: 150px;
  padding: 40px 0;
  background-color: green;
  color: rgba(255, 255, 255, 0.9);
  font-size: .9rem;
  line-height: 1;
  text-align: center; }
  .footer .copyright {
    display: inline-block; }
  .footer strong {
    font-weight: 550;
    color: white;
    font-style: normal; }
  .footer a {
    font-weight: 550;
    font-style: normal;
    color: #fff;
    text-decoration: none; }
  .footer a:hover {
    text-decoration: underline; }

.footer__heart {
  color: red;
  font-weight: bold;
  font-size: 1rem; }

@media (min-width: 768px) {
  .footer {
    text-align: initial; } }

.breadcrumbs {
  font-style: italic; }

.masthead-copy-container {
  font-size: 1.25rem;
  text-align: center; }
  .masthead-copy-container h1 {
    font-size: 4rem;
    color: darkgreen; }
    .masthead-copy-container h1 span {
      font-weight: bold;
      font-size: .5em; }

.masthead-image-container {
  width: 100%; }

.masthead-image {
  display: block;
  width: 200px;
  height: auto;
  margin: auto;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 255, 0, 0.7));
          filter: drop-shadow(0px 0px 10px rgba(0, 255, 0, 0.7)); }

@media (min-width: 768px) {
  .masthead-copy-container {
    text-align: left; }
    .masthead-copy-container h1 {
      margin-bottom: 1rem; }
  .masthead-image-container {
    padding-left: 60px; }
  .masthead-image {
    width: 100%;
    height: auto; } }

@media (min-width: 992px) {
  .masthead-copy-container {
    text-align: left; }
    .masthead-copy-container h1 {
      margin-bottom: 1rem; }
  .masthead-image-container {
    padding-left: 60px; }
  .masthead-image {
    max-width: 100%;
    height: auto; } }

.card-deck {
  display: block;
  width: 100%;
  padding: 10px;
  border: solid 1px rgba(0, 128, 0, 0.1);
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 128, 0, 0.175); }

.get-started-card, .doc-card {
  list-style: none;
  font-size: 1.1rem;
  background-color: rgba(144, 238, 144, 0.08);
  margin: 20px 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 100, 0, 0.375); }

.get-started-card span {
  display: inline-block;
  color: rgba(0, 0, 0, 0.72);
  font-size: 1rem; }

.get-started-card h2 {
  font-size: 1.8rem;
  color: darkgreen;
  text-align: left; }

.get-started-card code {
  background-color: #fff; }

.get-started-card a {
  text-decoration: underline;
  color: green;
  font-weight: bold; }

.get-started-card .getwebcreative {
  display: block;
  width: 25%;
  height: auto;
  margin: auto; }

.get-started-card--creative p {
  margin: 20px 0; }

.doc-card {
  text-align: center; }
  .doc-card a {
    text-decoration: underline;
    color: green;
    font-weight: bold; }

@media (min-width: 768px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between; }
  .get-started-card, .doc-card {
    flex: 1 1 40%;
    margin: 10px; }
  .get-started-card--creative {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; }
    .get-started-card--creative .getwebcreative {
      display: flex;
      max-width: 35%; }
    .get-started-card--creative a {
      font-size: 1.2rem; } }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

:target::before {
  content: "";
  display: block;
  height: 76px;
  margin-top: -76px; }

.docs__sidebar ul {
  list-style: square outside;
  color: green;
  padding-left: 1rem;
  margin-bottom: .7rem;
  font-size: 1rem; }

.docs__sidebar li a:hover {
  background-color: rgba(0, 128, 0, 0.375); }

@media (min-width: 768px) {
  .docs {
    display: flex;
    flex-flow: row nowrap; }
  .docs__sidebar {
    flex: 0 0 25%; }
    .docs__sidebar .docs__sidebar-toc {
      position: -webkit-sticky;
      position: sticky;
      top: 151px; }
  .docs__content {
    flex: 0 0 75%;
    overflow: hidden; } }

.button-primary, .button-secondary {
  text-align: center;
  display: inline-block;
  border: solid 1px #cfcfcf;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  background-color: #fff;
  color: #404040;
  font-size: 1rem;
  font-weight: 500; }

.button-primary,
.button-secondary {
  width: 100%;
  margin-bottom: 10px;
  padding: .8rem 0;
  font-size: 1.2rem; }

.button-primary {
  border: solid 1px green;
  color: green; }
  .button-primary:hover {
    border-color: green;
    color: #fff;
    background-color: green;
    transition: border-color 1s, color 1s, background-color 1s; }

.button-secondary {
  border: solid 1px blue;
  color: blue; }
  .button-secondary:hover {
    border-color: blue;
    color: #fff;
    background-color: blue;
    transition: border-color 1s, color 1s, background-color 1s; }

.buttons-tray {
  width: 100%;
  display: flex;
  flex-direction: column; }

@media (min-width: 768px) {
  .button-primary,
  .button-secondary {
    width: 50%;
    margin-bottom: 0;
    margin-right: 10px; }
  .buttons-tray {
    flex-direction: row; }
  .button-secondary:last-child {
    margin-right: 0; } }

.learnhowto h1, .learnhowto h2, .learnhowto h3, .learnhowto h4, .learnhowto h5, .learnhowto h6 {
  color: darkgreen; }

.learnhowto h2, .learnhowto h3, .learnhowto h4, .learnhowto h5, .learnhowto h6 {
  margin: 30px 0; }

.learnhowto h1 {
  font-size: 4rem; }

.learnhowto p {
  font-size: 1.25rem; }

.learnhowto img {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  height: auto;
  margin: 20px 0 20px; }

.learnhowto table.dev-vs-release-build {
  display: initial; }
  .learnhowto table.dev-vs-release-build th, .learnhowto table.dev-vs-release-build td {
    padding: .5rem;
    text-align: center; }
  .learnhowto table.dev-vs-release-build tbody tr td .check, .learnhowto table.dev-vs-release-build tbody tr td .cross {
    font-size: 1rem;
    font-weight: bold; }
  .learnhowto table.dev-vs-release-build tbody tr td .check {
    color: darkgreen; }
  .learnhowto table.dev-vs-release-build tbody tr td .cross {
    color: darkred; }
  .learnhowto table.dev-vs-release-build th, .learnhowto table.dev-vs-release-build tbody tr td:first-child {
    font-size: 110%;
    font-weight: bold;
    text-align: left; }
  .learnhowto table.dev-vs-release-build tbody tr td:first-child {
    color: black; }
  .learnhowto table.dev-vs-release-build th {
    color: white; }
  .learnhowto table.dev-vs-release-build tbody tr:nth-child(even) {
    background-color: lightgreen; }
  .learnhowto table.dev-vs-release-build tbody tr:nth-child(odd) {
    background-color: #f3f3f3; }
  .learnhowto table.dev-vs-release-build thead {
    background-color: rgba(0, 0, 0, 0.38);
    color: white; }
  .learnhowto table.dev-vs-release-build th:first-child {
    border-top-left-radius: 3px; }
  .learnhowto table.dev-vs-release-build th:last-child {
    border-top-right-radius: 3px; }
  .learnhowto table.dev-vs-release-build tr:last-child td:first-child {
    border-bottom-left-radius: 3px; }
  .learnhowto table.dev-vs-release-build tr:last-child td:last-child {
    border-bottom-right-radius: 3px; }

.article img {
  display: block;
  max-width: 640px;
  width: 100%;
  height: auto;
  margin: 0;
  border: 0;
  border-radius: 0; }
